@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  color:#0A0A23;
}
body{
  min-height: 100vh;
}
a{
  text-decoration: none;
  color:inherit;
}